.calculator {
    text-align: left;
}

.calculator__button {
    text-align: right;
}

.calculator__answer-text {
    min-height: 300px;
    font-size: 40px;
    margin: 10px 0;
    word-wrap: break-word;
}

.calculator__answer {
    font-size: 40px;
    margin: 10px 0;
}

.calculator__input {
    height: 200px;
}