@import "../style/Answer";

.answer {
  @include answer();
}

.answer__text-mobile, .answer__text-up-mobile, .answer__text-down-mobile, .answer__text-report-mobile {
  font-size: 5vmin;
}

.answer__text-mobile {
  margin: 2vh 0;
}

.answer__text-up-mobile {
  margin: -2vh 0 -4vh 5.5vw;
}

.answer__text-down-mobile {
  margin: -4vh 0 -2vh 5.5vw;
}

.answer__text-report-mobile {
  margin: 3vh 0 2vh;
}


@media only screen and (orientation: landscape) {
  .answer__text-mobile, .answer__text-up-mobile, .answer__text-down-mobile, .answer__text-report-mobile {
    font-size: 7vmin;
  }
}