@import "../style/Toolbar";

.toolbar {
  @include toolbar();
}

.toolbar__button {
  @include toolbar__button();

  height: 50px;
  width: 200px;
  font-size: 20px;
}

@media only screen and (max-width: 700px) {
  .toolbar__button {
    width: 33.33%;
  }
}

.toolbar__button_active {
  @include toolbar__button_active();
}