.answer {
    text-align: left;
}

.answer__text, .answer__text-up, .answer__text-down, .answer__text-report {
    font-size: 35px;
}

.answer__text {
    margin: 20px 0;
}

.answer__text-up {
    margin: -20px 0 -40px 50px;
}

.answer__text-down {
    margin: -35px 0 -20px 50px;
}

.answer__text-report {
    margin: 50px 0 20px;
}




.answer__text-mobile, .answer__text-up-mobile, .answer__text-down-mobile, .answer__text-report-mobile {
    font-size: 5vmin;
}

.answer__text-mobile {
    margin: 2vh 0;
}

.answer__text-up-mobile {
    margin: -2vh 0 -4vh 4vw;
}

.answer__text-down-mobile {
    margin: -4vh 0 -2vh 4vw;
}

.answer__text-report-mobile {
    margin: 3vh 0 2vh;
}


@media only screen and (orientation: landscape) {
    .answer__text-mobile, .answer__text-up-mobile, .answer__text-down-mobile, .answer__text-report-mobile {
        font-size: 7vmin;
    }
}