$color-background: #CCC;
$color-text: #000;

$color-toolbar-background: #FFF;
$color-toolbar-button: #FFF;
$color-toolbar-button-active: #efefef;
$color-toolbar-button-border: #CCC;
$color-toolbar-button-border-bottom-active: #AAA;

$color-window-button: #CCC;
$color-window-input: #CCC;
$color-window-background: #FFF;

$color-settings-border: #555;
$color-settings-background: #FFF;
$color-settings-cheek-box: #555;
$color-settings-cheek-box-active: darkgreen;
$color-settings-cheek-box-scroll: #CCC;
$color-settings-close-button: #AAA;