.lists-filter__content {
    background-color: #cccccc;
    margin: 0 auto 0 auto;
    max-width: 1700px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.lists-filter__container {
    margin: 30px 20px;
    background-color: #FFFFFF;
    padding: 25px;
    border-top: 0;
}

@media only screen and (max-width: 700px) {
    .lists-filter__container {
        margin: 0;
        border-top: 2px solid #000;
    }
}

.lists-filter__container-mobile {
    margin: 0;
    background-color: #FFFFFF;
    padding: 25px;
    border-top: 2px solid #000;
}

.lists-filter__content-mobile {
    background-color: #cccccc;
    margin: 0 auto 0 auto;
    max-width: 1700px;
    text-align: center;
}