.settings {
    position: absolute;
    top: 207px;
    z-index: 0;
}

.settings-mobile {
    position: absolute;
    top: 12vh;
    z-index: 0;
}


.settings_hidden {
    z-index: 0;
    animation: showDiv 1s forwards;
}

@keyframes showDiv {
    0%, 99% {
        z-index: 0;
    }
    100% {
        z-index: -1;
    }
}





.settings__container {
    padding: 50px 0 20px 10px;
    border: 2px solid;
    border-color: #555555 #555555 #555555 #FFFFFF;
    background-color: #FFFFFF;
    position: relative;

    transition: all .5s ease;
    right: 0;
}

.settings__container-mobile {
    padding: 14vw 0 6vw 5vw;
    border: 2px solid;
    border-color: #555555 #555555 #555555 #FFFFFF;
    background-color: #FFFFFF;
    position: relative;

    transition: all .5s ease;
    right: 0;
}

@media only screen and (orientation: landscape) {
    .settings__container-mobile {
        padding: 7vw 0 3vw 2.5vw;
    }
}






.settings__container_close {
    right: 1000px;
}

.settings__container-mobile_close {
    right: 100vw;
}

@media only screen and (orientation: landscape) {
    .settings__container-mobile_close {
        right: 50vw;
    }
}





.settings__text {
    font-size: 30px;
    margin: 0 20px;
    float: right;
}

.settings__text-mobile {
    font-size: 4vw;
    margin: 0 1vw;
    float: right;
}

@media only screen and (orientation: landscape) {
    .settings__text-mobile {
        font-size: 2vw;
        margin: 0 0.5vw;
    }
}







.settings__checkbox-container {
    width: 70px;
    height: 20px;
    position: relative;
    border-radius: 5px;
    margin: 10px  30px;
    top: 5px;
    transition: all .5s ease;
    background: #555;
}

.settings__checkbox-container-mobile {
    width: 15vw;
    height: 4vw;
    position: relative;
    border-radius: 5px;
    margin: 3vw  2vw;
    top: 5px;
    transition: all .5s ease;
    background: #555;
}


@media only screen and (orientation: landscape) {
    .settings__checkbox-container-mobile {
        width: 7.5vw;
        height: 2vw;
        margin: 1.5vw  1vw;
    }
}







.settings__checkbox-container_active {
    background-color: darkgreen;
}

.settings__checkbox {
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;

    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: -3px;
    left: -3px;

    background: #ccc;
}

.settings__checkbox-mobile {
    display: block;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;

    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: -1.5vw;
    left: -1.5vw;

    background: #ccc;
}

@media only screen and (orientation: landscape) {
    .settings__checkbox-mobile {
        width: 3.5vw;
        height: 3.5vw;
        top: -0.75vw;
        left: -0.75vw;
    }
}






.settings__checkbox_active {
    left: 50px;
}

.settings__checkbox-mobile_active {
    left: 10vw;
}

@media only screen and (orientation: landscape) {
    .settings__checkbox-mobile_active {
        left: 5vw;
    }
}






.settings__close-button {
    height: 50px;
    width: 50px;
    background: #aaaaaa;
    float: right;
    margin-top: -50px;
    font-size: 35px;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}


.settings__close-button-mobile {
    height: 14vw;
    width: 14vw;
    background: #aaaaaa;
    float: right;
    margin-top: -14vw;
    font-size: 10vw;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}


@media only screen and (orientation: landscape) {
    .settings__close-button-mobile {
        height: 7vw;
        width: 7vw;
        margin-top: -7vw;
        font-size: 5vw;
    }
}