.settings {
    position: absolute;
    top: 207px;
    z-index: 0;
}

.settings_hidden {
    z-index: 0;
    animation: showDiv 1s forwards;
}

@keyframes showDiv {
    0%, 99% {
        z-index: 0;
    }
    100% {
        z-index: -1;
    }
}

.settings__container {
    padding: 50px 0 20px 10px;
    border: 2px solid;
    border-color: #555555 #555555 #555555 #FFFFFF;
    background-color: #FFFFFF;
    position: relative;

    transition: all .5s ease;
    right: 0;
}

.settings__container_close {
    right: 1000px;
}

.settings__text {
    font-size: 30px;
    margin: 0 20px;
    float: right;
}

.settings__checkbox-container {
    width: 70px;
    height: 20px;
    position: relative;
    border-radius: 5px;
    margin: 10px  30px;
    top: 5px;
    transition: all .5s ease;
    background: #555;
}

.settings__checkbox-container_active {
    background-color: darkgreen;
}

.settings__checkbox {
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;

    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: -3px;
    left: -3px;

    background: #ccc;
}

.settings__checkbox_active {
    left: 50px;
}

.settings__close-button {
    height: 50px;
    width: 50px;
    background: #aaaaaa;
    float: right;
    margin-top: -50px;
    font-size: 35px;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}