* {
    /*border: 0px solid red;*/
}

.App {
    background-color: #cccccc;
    min-height: 100vh;
    margin-bottom: -1000vw;
    text-align: center;
}

.App__content {
    background-color: #cccccc;
    margin: 0 auto 0 auto;
    max-width: 1700px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.App__container {
    margin: 30px 20px;
    background-color: #FFFFFF;
    padding: 25px;
}